<div class="container-fluid">

  <div class="row mh-100vh">
    <div
      class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch p-5 rounded rounded-lg-0 my-5 my-lg-0"
      id="login-block">
      <div class="m-auto w-lg-75 w-xl-50 animated slideInDown">
        <h2 class="font-weight-light mb-5 center beige">{{title}}</h2>
        <form (ngSubmit)="login(f)" #f="ngForm">
          <div class="login-group"*ngIf="!logged">
            <div class="form-group" >
              <label class="beige">
                Numero de Telefono
              </label>
              <input class="form-control" type="password" required="" password [(ngModel)]="user.telefono" name="telefono"
                minlength="6" placeholder="Introduce tu numero de telefono">
            </div>
            <button class="btn btn-info mt-2" type="submit" style="background-color: rgb(245, 245, 220);">Verificar</button>
          </div>
          <!-- Info disabled -->
          <div class="info-group" *ngIf="logged">
            <h3 class="font-weight-light mb-5 center beige">
              ¡Bienvenido! Aquí tendras toda la información necesaria
            </h3>
            <h4 class="beige">
              Puedes llevar a {{user.n_invitados}} invitados
            </h4>
            <div class="form-group">
              <label class="beige">
                Dirección Iglesia
              </label>
              <p name="direccion_iglesia">
                <a [href]="direccionUri1" target="_blank" rel="noopener noreferrer">
                  {{ direccion1 }}
                </a> 
              </p>
            </div>
            <div class="form-group">
              <label class="beige">
                Dirección Cumpleaños
              </label>
              <p name="direccion_cumpleaños">
                <a [href]="direccionUri2" target="_blank" rel="noopener noreferrer">
                  {{ direccion2 }}
                </a>
              </p>
            </div>
            
          </div>
        </form>


      </div>
    </div>
    <div class="col-lg-6 d-flex align-items-end" id="bg-block"
      style="background-size: cover;background-position: center center;background-image: url('{{ img_background }}');background-color: #401651;">
      <!-- <p class="ml-auto small text-dark mb-2"><em>Photo by&nbsp;</em><a class="text-dark"
          href="https://unsplash.com/photos/v0zVmWULYTg?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
          target="_blank"><em>Aldain Austria</em></a><br></p> -->
    </div>
  </div>

</div>